body{
    background-color: #AFD5EB;
}
h2{
    color:  #142d4c;
}
.nav-link{
    font-family: 'Roboto', sans-serif;
}
.list-nav:hover{
    background-color: #afc5ff;
}
#navbar{
    border-right: 2px solid #38598b;
    position: fixed;
    left: 0px;
}
#js-document{
    font-size: 28px;
    text-align: center;
    padding-top: 20px;
}
.list-nav{
    list-style-type: none;
    padding: 12px 40px;
    border-top: 1px solid #38598b;
}
#left-nav{
    max-height: 88vh;
    overflow-y: scroll;
    margin-top: 20px;
}
#navbar ul{
    padding: 0px 0px 0px 0px;
}
#parent{
    margin-top: 20px;
}
.main-para{
    margin: 30px 15px 0px 25px;
}
.main-list{
    margin-left: 2em;
}
.main-list li{
    margin-bottom: 30px;
}
.main-code{
    margin-left: 1.5em;
}
.main-sub-list{
    margin-left: 2em;
}
.main-sub-list li{
    list-style-type: circle;
}
#What_you_should_already_know li{
    margin-bottom: 18px;
}
.main-code{
    margin-bottom: 20px;
    background-color: #668ba4;
    padding: 12px;
}
code{
    color: aliceblue;
    font-weight: 600;
}
#Data_types li{
    margin-bottom: 18px;
}
#while_statement li{
    margin-bottom: 20px;
}
#Function_declarations li{
    margin-bottom: 20px;
}
.main-section{
    margin-left: 25px;
}
@media screen and (max-width:1200px){
    .main-section{
        margin-left: 50px;
    }
}
@media screen and (max-width:1080px){
    .main-section{
        margin-left: 75px;
    }
}
@media screen and (max-width:991px){
    #navbar{
        position: relative;
        width: 100%;
        border: 0px;
    }
    .main-section{
        margin-left: 0px;
    }
    #left-nav{
        width: 100%;
        border-color:black;
        border-width: 1px 1px 2px 1px;
        border-style: solid;
    }
    .col-lg-3{
        padding: 0px;
    }
    .col-xl-3{
        padding: 1px;
    }
}
@media screen and (max-height:260px) {
    #left-nav{
        max-height: 70vh;
    }
}